# DanBot - Smart Money Concepts Trading Signal Analyzer
# Version 2 ICT Trading Strategy

flask>=3.0.0
yfinance>=0.2.36
numpy>=1.24.0
pandas>=2.0.0
plotly>=5.18.0
apscheduler>=3.10.0
